{% extends "base.html" %}

{% block title %}Autorzy{% endblock %}

{% block content %}
    <h2>👨‍🏫 Lista autorów</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Narodowość</th>
        </tr>
        {% for author in authors %}
        <tr>
            <td>{{ author.id }}</td>
            <td>{{ author.name }}</td>
            <td>{{ author.surname }}</td>
            <td>{{ author.nationality or "—" }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}