{% extends "base.html" %}

{% block title %}Nowe wypożyczenie{% endblock %}

{% block content %}
<h3>➕ Dodaj wypożyczenie</h3>

<form method="POST">
    <label for="book_id">Książka:</label>
    <select name="book_id" required>
        {% for b in books %}
        <option value="{{ b.id }}" {% if book and book.id == b.id %}selected{% endif %}>
            {{ b.title }} ({{ b.author.name }} {{ b.author.surname }})
        </option>
        {% endfor %}
    </select><br>

    <label for="borrower_name">Imię wypożyczającego:</label>
    <input type="text" name="borrower_name" required><br>

    <label for="borrower_surname">Nazwisko wypożyczającego:</label>
    <input type="text" name="borrower_surname" required><br>

    <label for="borrow_date">Data wypożyczenia:</label>
    <input type="date" name="borrow_date" max="{{ current_date }}" required><br>

    <label for="email">Email:</label>
    <input type="email" name="email"><br>

    <label for="phone">Telefon:</label>
    <input type="tel" name="phone" pattern="[0-9]{9}" title="Numer telefonu musi mieć dokładnie 9 cyfr"><br>
    <small>Aby można było wypożyczyć książkę należy podać przynajmniej jeden rodzaj kontaktu: email lub numer telefonu.</small><br>
    <button type="submit">Dodaj</button>

    <a href="{{ url_for('borrowings') }}"><button type="button">↩️ Powrót</button></a>
</form>
{% endblock %}