{% extends "base.html" %}

{% block title %}Dodaj autora{% endblock %}

{% block content %}
<h3>➕ Dodaj autora</h3>
<form method="POST">
    <label for="name">Imię:</label>
    <input type="text" name="name" required><br>

    <label for="surname">Nazwisko:</label>
    <input type="text" name="surname" required><br>

    <label for="nationality">Narodowość:</label>
    <input type="text" name="nationality"><br>

    <label for="info_url">Link do informacji o autorze (np. Wikipedia):</label>
    <input type="url" name="info_url" placeholder="https://..." pattern="https?://.+" title="Podaj poprawny adres URL"><br>
    <small>Podaj pełny adres URL zaczynający się od http:// lub https://</small><br>

    <label for="main_genre">Główny gatunek literacki:</label>
    <input type="text" name="main_genre" value="{{ author.main_genre if author else '' }}">


    <button type="submit">Dodaj</button>
    <a href="{{ url_for('authors') }}"><button type="button">↩️ Powrót</button></a>
</form>
{% endblock %}